@font-face {
    font-family: gan;
    src: url();
}
.header{
    height: 70px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
}
.charts-container{
    width: 60%;
    height: 750px;
    margin: auto;
    background-color: aliceblue;

}
.header-center{
    width: 60%;
    height: 70px;
    margin: auto;
    background-color: lightblue;
    border: solid 1px lightblue;
    display: flex;

}
.charts-sort{
height: 50px;
margin-top: 10px;
width: 100%;
/* display: flex;
align-items: center; */
}
.charts-down{
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
height: 90px;
margin-top: 10px;
width: 100%;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}
.charts-new{
    background: #22C1C3;
background: linear-gradient(90deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
height: 90px;
margin-top: 10px;
width: 100%;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}
.charts-up{
background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
height: 90px;
margin-top: 10px;
width: 100%;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}
.header-center a{
    color: white;
    font-family: cursive;
}
.header-center .video{
    color: red;
    font-family: cursive;
}
.header-center .photo{
    color: yellow;
    font-family: cursive;
}
.box-logo{
    width: 20%;
    height: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.box-links{
    width: 60%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.box-button{
    width: 20%;
    height: 70px;
    margin: auto;
   
}
.button{
    height: 35px;
    width: 100px;
    background-color: purple;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-family: Arial, Helvetica, cursive;
    border: none;

}
.charts-rank{
    width: 10%;
    font-family: cursive;
    margin-left: 10px;
}
.charts-info{
    width: 60%;
    height: 90px;
    font-family: cursive;
}
.charts-button{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
}
.charts-img{
    height: 75px;
    margin-right: 20px;
}
.charts-up h3 {
    color: yellow;
    font-size: medium;
    top: 20%;
}
.charts-down h3 {
    color: blue;
    font-size: medium;
    top: 20%;
}
.charts-new h3 {
    color: lightpink ;
    font-size: medium;
    top: 20%;
}